* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#logo {
    padding-left: 72px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    background-image: url("img/banner1.png");
    background-size: cover;
    width: auto;
}

.contenedor-nav {
    display: flex;
    padding: 50px 0;
}

.contenedor-principal {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

h1 {
    font-weight: bold !important;
}

#subtexto {
    font-weight: bold;
    font-size: 19px;
}

ul {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}

.text-titulo {
    font-size: 24px;
}

.pos-formulario {
    width: 100%;
}


form {
    padding: 18px;
    background: rgba(51, 74, 107, 0.71);
    margin-bottom: 15px;
    border-radius: 4px;
    color: #ffffff;
}

#solicita {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 25px;
}

.pos-formulario form label {
    font-size: 20px;
    margin-left: -1px;
    bottom: -14px;
}

.btn-primary {
    background: rgb(0, 202, 232) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    border: none !important;
}
.btn-primary2 {
    background: #f0f4f8 !important;
    color: #00cae8 !important;
    border-color:  #00cae8 !important;
}

.bot-cotizar:hover {
    background-color: #46c600 !important;
}

.mov-btn {
    padding-top: 23px;
}

.quienes-somos {
    width: auto;
    padding: 50px 0;
}

.title2 {
    text-align: center;
    font-size: 21px;
}

.titulo::after {
    content: "";
    display: block;
    height: 2px;
    width: 164px;
    background: #0BADC9;
    margin: 0 auto;
}

.cont-somos__image {
    height: 250px;
    max-width: 100%;
    border-radius: 5px;
}

.alin-texto {
    display: flex;
    align-items: center;
    text-align: start;
}

.nuestros-productos {
    width: auto;
    background-color: #F0F4F8;
    padding: 50px 0;
}

.cont-productos {
    padding-top: 40px;
    margin-top: 50px;
}

h4 {
    text-align: center;
}

.prod-1 {
    width: 100%;
    margin-right: 15px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 40px 30px;
}

.texto-tarjet {

    text-align: center;
    padding: 8px;
}


.ubi-btn {
    text-align: center;
}

.btn-modif {
    width: 238px;
    height: 44px;
    border: none !important;
}

.valor {
    text-align: center;
    padding: 12px;
}

.prod-2 {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: -30px;
    padding: 40px 30px;
}

.texto-tarjet2 {
    text-align: center;
}

.prod-2__content {
    margin-top: 62px;
}

.cont-productos__row .col-12:nth-child(2) {
    margin: 0 -27px;
}

.titulo-prod {
    margin-bottom: 1.5rem;
}

.ubi-btn2 {
    text-align: center;
}

.btn-modif2 {
    width: 238px;
    height: 44px;
}

.valor2 {
    text-align: center;
    padding: 5px;
}

.prod-3 {
    width: 353px;
    left: 186px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.btn-comprar {
    width: 203px;
    height: 42px;
    top: 180px;
    background: #0BADCA;
}

.ver-mas {
    text-align: center;
    padding: 10px;
}

.ver-mas a {
    text-decoration: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #80e5f4 !important;
}
#pills-home-tab {
    color: #80e5f4;
}
#pills-home-tab.active {
    color: white;
}
#pills-contact-tab {
    color: #80e5f4;
}
#pills-contact-tab.active {
    color: white;
}
.modal-body{
    background-color: #f0f4f8;
}
.contactanos {
    background-image: url("img/banner2.png");
    width: auto;
    padding: 50px 0;
}

.cont3 {
    display: flex;
    align-items: center;
}

.tamaño {
    color: white;
}

.contactanos .container .row .col-12 p {
    color: white;
    margin-bottom: 0;
}

.btn-contacto {
    text-align: center;
    width: 100%;
}

.nuestro-equipo {
    width: auto;
    padding: 50px 0;
}

.caja-equipo {
    padding-top: 14px;
    margin-top: 50px;
}

.title3 {
    text-align: center;
    font-size: 21px;
}

.testimonios {
    width: auto;
    background-color: #F0F4F8;
    padding: 50px 0;
}

.cont-testimonio {
    padding-top: 40px;
    margin-top: 50px;
}

.cont-testimonio__row .col-12:nth-child(2) {
    margin: 0 -5px;
}

.test-1 {
    width: 100%;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 40px 30px;
}

.img-testimonio {
    width: 100%;
    text-align: center;
}

.name-test {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.info-testimonio {
    width: 100%;
    text-align: center;
}
.cotizar {
    background-color: #ffffff;
    width: auto;
    padding: 76px 0;
}
.cotizar .container .row .col-12 p {
    margin-bottom: 0;
}

footer {
    width: auto;
    height: 344px;
    background: #0BADC9;
}

.logo-footer {
    text-align: center;
    padding: 32px;
}

.datos {
    display: flex;
}

.direccion {
    width: 50%;
    color: white;
    text-align: center;
    height: 140px;
    display: flex;
    justify-content: end;
}

.direccion:nth-child(2) {
    display: flex;
    justify-content: start;
}

.direccion:nth-child(2) div {
    border-right: none;
}

.direccion__content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.direccion__content p:nth-child(1) {
    width: 100%;
}

.redes__content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.redes__content p:nth-child(1) {
    width: 100%;
}

.direccion div {
    border-right: 1px solid white;
}

.prod-2__box {
    padding-top: 24px;
}
.iconos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
}
.desarrollado {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .prod-2 {
        margin-top: 0;
        height: 100%;
        padding-bottom: 20px;
    }
    #solicita{
        font-size: 20px;
    }
    .prod-2__box {
        padding-top: 0;
    }

    .cont-productos__row .col-12:nth-child(2) {
        margin: 0 0;
    }

    .cont-productos__row .col-12:nth-child(3) {
        margin-top: 45px;
    }

    .cont-productos {
        margin-top: 0;
    }

    .btn-modif {
        width: 179px;
    }

    .cont-testimonio__row .col-12:nth-child(3) {
        margin-top: 45px;
    }
    .cotizar .container .row .col-12 p {
        text-align: center;
    }
    .direccion__content {
        width: auto;
    }

    .redes__content {
        width: auto;
    }
    .iconos{
        margin: 14px;
    }

    .desarrollado {
        padding-top: 11px;
    }
}
@media screen and (max-width: 1024px) and (min-width:768px) {
    .iconos{
        justify-content: center;
    }
}