* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#logo {
    padding-left: 72px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    background-image: url("img/banner1.png");
    background-size: cover;
    width: auto;
}

.contenedor-nav {
    display: flex;
    padding: 50px 0;
}

.contenedor-principal {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.cont-title h1 {
    font-size: 64px;

}

.text-titulo  {
    font-size: 24px;
}

.pos-formulario {
    width:100%;
}

form {
    height: 400px;
    padding: 18px;
    background: rgba(51, 74, 107, 0.71);
    margin-bottom: 15px;
    border-radius: 4px;
    color: #ffffff;
}

.pos-formulario form label {
    font-size: 20px;
    margin-left: -1px;
    bottom: -14px;
}

button {
    background: rgb(0, 202, 232) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    border: none !important;
}

.mov-btn {
    padding-top: 23px;
}

.quienes-somos {
    width: auto;
    padding: 50px 0;
}

.title2 {
    text-align: center;
    font-size: 21px;
}

.titulo::after {
    content: "";
    display: block;
    height: 2px;
    width: 164px;
    background: #0BADC9;
    margin: 0 auto;
}

.cont-somos__image {
    height: 250px;
    max-width: 100%;
}
.alin-texto{
    display: flex;
    align-items: center;
}

.nuestros-productos {
    width: auto;
    background-color: #F0F4F8;
    padding: 50px 0;
}

.cont-productos {
    padding-top: 40px;
    margin-top: 50px;
}

h4 {
    text-align: center;
}

.prod-1 {
    width: 100%;
    margin-right: 15px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 40px 30px;
}

.texto-tarjet {

    text-align: center;
    padding: 8px;
}


.ubi-btn {
    text-align: center;
}

.btn-modif {
    width: 238px;
    height: 44px;
    border: none !important;
}

.valor {
    text-align: center;
    padding: 12px;
}

.prod-2 {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-top: -30px;
    padding: 40px 30px;
}

.texto-tarjet2 {
    text-align: center;
}

.prod-2__content {
    margin-top: 62px;
}

.cont-productos__row .col-12:nth-child(2) {
    margin: 0 -27px;
}

.titulo-prod {
    margin-bottom: 1.5rem;
}

.ubi-btn2 {
    text-align: center;
}

.btn-modif2 {
    width: 238px;
    height: 44px;
}

.valor2 {
    text-align: center;
    padding: 5px;
}

.prod-3 {
    width: 353px;
    left: 186px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.btn-comprar {
    width: 203px;
    height: 42px;
    top: 180px;
    background: #0BADCA;
}

.ver-mas {
    text-align: center;
    padding: 10px;
}

.ver-mas a {
    text-decoration: none;
}

.contactanos {
    background-image: url("img/banner2.png");
    width: auto;
    padding: 50px 0;
}

.cont3 {
    display: flex;
    align-items: center;
}

.tamaño {
    color: white;
}

.contactanos .container .row .col-12 p {
    color: white;
    margin-bottom: 0;
}

.btn-contacto {
    text-align: center;
}

.nuestro-equipo {
    width: auto;
    height: 538px;
}

.title3 {
    text-align: center;
    padding-top: 43px;
    font-size: 21px;
}

.testimonios {
    width: auto;
    height: 522px;
    background-color: #F0F4F8;
}

.conten-testimonios {
    display: flex;
    align-items: center;
}

.test1 {
    width: 309px;
    height: 342px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin: 26px 65px;
}

.test2 {
    width: 309px;
    height: 342px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin: 26px 65px;
}

.test3 {
    width: 309px;
    height: 342px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin: 26px 65px;
}

.img-testimonio {
    text-align: center;
    margin-top: 10px;
}

.name-test {
    text-align: center;
    margin-top: 7px;
}

.info-testimonio {
    width: 266px;
    text-align: center;
    margin-left: 21px;
}

footer {
    width: auto;
    height: 344px;
    background: #0BADC9;
}

.logo-footer {
    text-align: center;
    padding-top: 20px;
}

.datos {
    display: flex;
}

.direccion {
    width: 50%;
    color: white;
    text-align: center;
    height: 140px;
    display: flex;
    justify-content: end;
}

.direccion:nth-child(2) {
    display: flex;
    justify-content: start;
}

.direccion:nth-child(2) div {
    border-right: none;
}

.redes {
    width: 50%;
    color: white;
    text-align: center;
    height: 140px;
    display: flex;
    justify-content: start;
}

.direccion__content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.direccion__content span:nth-child(1) {
    width: 100%;
}

.redes__content {
    width: 50%;
}

.direccion div {
    border-right: 1px solid white;
}

.prod-2__box {
    padding-top: 24px;
}

@media only screen and (max-width: 768px) {
    .prod-2 {
        margin-top: 0;
        height: 100%;
        padding-bottom: 20px;
    }
    .prod-2__box {
        padding-top: 0;
    }

    .cont-productos__row .col-12:nth-child(2) {
        margin: 0 0;
    }

    .cont-productos__row .col-12:nth-child(3) {
        margin-top: 45px;
    }

    .cont-productos {
        margin-top: 0;
    }
    .btn-modif{
        width: 141px;
    }
}